// header style

.header-main {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.header-top {
	position: relative;
	background: $color-dark;
	padding: rem(20px) 0;
	z-index: 2;
	min-width: 320px;

	@media screen and (max-width: 767px) {
		padding: rem(8px) 0;
	}
}

.user-info {
	@media screen and (max-width: 767px) {
		display: none;
	}
}

.user-info-mobile {
	display: none;

	@media screen and (max-width: 767px) {
		display: block;
		margin-bottom: 4px;
	}
}

.user-info-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;

	&__item {
		padding: 10px;

		@media screen and (max-width: 991px) {
			padding: 5px;
		}
	}
}

.user-info-link {
	display: block;
	padding: 4px;
	position: relative;

	&:hover {
		.svg-icon {
			fill: $color-main;
		}
	}

	.svg-icon {
		fill: $color-white;
		width: 21px;
		height: 21px;
		@include transition(fill);

		@media screen and (max-width: 480px) {
			fill: $color-base;
		}
	}

	.indicator-circle {
		background: $gradient-main;
		display: block;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		position: absolute;
		top: 4px;
		right: 2px;
	}

	&.inactive {
		.svg-icon {
			fill: $color-disable;

			@media screen and (max-width: 480px) {
				fill: $neutral-secondary;
			}
		}
	}
}

.user-block {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.user-setting {
	position: relative;
	padding: 0 20px 0 0;
	z-index: 20;
	margin-left: 30px;
	cursor: pointer;

	&:hover {
		@media screen and (min-width: 1024px) {
			.user-setting {
				&__dropdown {
					visibility: visible;
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}

	.js-setting-dropdown {
		&.open {
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
		}
	}

	&__avatar {
		width: rem(56px);
		height: rem(56px);
		position: relative;

		img {
			border-radius: 50%;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.svg-icon {
			display: block;
			position: absolute;
			left: 100%;
			top: 50%;
			margin: -6px 0 0 8px;
			width: 12px;
			height: 12px;
			fill: $color-white;
		}
	}

	&__dropdown {
		position: absolute;
		top: 100%;
		right: 0;
		min-width: 200px;
		width: 100%;
		padding-top: 30px;
		z-index: 10;
		visibility: hidden;
		opacity: 0;
		@include transition;
		transform: translateY(-20px);

		@media screen and (max-width: 480px) {
			padding-top: 10px;
		}
	}

	.dropdown-inner {
		position: relative;
		width: 100%;
		background: #CFC5FA;
		border-radius: 10px;
		padding: 20px 15px 15px 20px;
		box-shadow: 0 1px 21px rgba(#020202,0.06);

		@media screen and (max-width: 480px) {
			box-shadow: 0 1px 21px rgba(#020202,0.12);
		}

		&:before {
			@include pseudo;
			top: -20px;
			right: 40px;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-bottom: 14px solid #CFC5FA;
		}
	}
}

.setting-list {
	&__item {
		margin-bottom: 12px;
	}
}

.setting-link {
	position: relative;
	padding-left: 27px;
	min-height: 14px;
	display: inline-block;
	color: $color-base;
	@include transition(color);

	&:hover {
		color: $color-main;

		.svg-icon {
			fill: $color-main;
		}
	}

	.svg-icon {
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		fill: $color-base;
		width: 15px;
		height: 15px;
		margin-top: -8px;
		@include transition(fill);
	}
}

.setting-dropdown-bottom {
	border-top: 1px solid rgba(#1f2428,0.1);
	padding-top: 10px;
	.setting-link {
		padding-left: 0;
	}
}

.search-block {
	.form-search {
		max-width: 100%;
		width: 100%;

		@media screen and (max-width: 1200px) {
			display: none;
		}
	}
}

.search-mobile {
	display: none;

	@media screen and (max-width: 1200px) {
		position: absolute;
		top: 100%;
		left: 0;
		display: block;
		width: 100%;
		margin-top: -2px;
		padding: 15px 0;
		background: $color-dark;
		visibility: hidden;
		opacity: 0;
		transform: translateY(-100px);
		@include transition(all,0.4s);
		transform-origin: 50% 0;

		&.open {
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
		}
	}
}


.search-field {
	position: relative;

	.input-form {
		padding: rem(10px) rem(15px) rem(8px) rem(42px);
		background: #2b2f34;
		border-radius: 24px;
		height: 46px;
		width: 100%;
		border: none;
		color: $color-white;
		font-size: rem(16px);
		@include transition;
		@include rl;

		&::placeholder {
			color: #feffff;
			opacity: 0.7;
		}

		&:focus {
			box-shadow: 0 2px 15px rgba($color-white,0.06);
			background: #1F2226;
		}
	}
}

.btn-search {
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px 5px 6px 20px;
	height: 46px;
	width: 40px;
	text-align: center;
	border-radius: 24px 0 0 24px;
	.svg-icon {
		display: block;
		width: 13px;
		height: 13px;
		fill: #feffff;
		opacity: 0.7;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -6px 0 0 0px;
	}
}

.search-button-mobile {
	padding: 0;
	box-shadow: none;
	display: none;
	.svg-icon {
		display: block;
		width: 20px;
		height: 20px;
		fill: $color-white;
		@include transition(fill);
	}

	&:hover {
		.svg-icon {
			fill: $color-main;
		}
	}

	&.active {
		box-shadow: none;

		.svg-icon {
			fill: $color-main;
		}
	}

	@media screen and (max-width: 1200px) {
		display: inline-block;
		margin-left: 25px;
	}

	@media screen and (max-width: 767px) {
		margin-left: 0;
	}
}
