@import "mixins";

html {
	height: 100%;

	&.lock {
		overflow: hidden;

		body {
			height: 100%;
			overflow: hidden;
		}
	}
}

body {
  position: relative;
	min-width: 320px;
	color: $color-base;
	overflow-x: hidden;
	padding: 0;
	margin: 0 auto;
  font-family: $mainFont;
  font-size: $browser-context;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
	background: $color-dark;
	font-smoothing: antialiased;
	text-size-adjust: none;

	@media screen and (max-width: 1399px){
		font-size: 15px;
	}

	@media screen and (max-width: 1199px){
		font-size: 14px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

p {
	padding: 0;
	margin: 0;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

body a,
body button {
	outline: none;

	&:hover,
	&:focus {
		outline: none;
		text-decoration: none;
	}
}

input,
textarea,
select {
	&:focus {
		outline: none;
	}
}

table {
	table-layout: fixed;
	width: 100%;
	td {
		word-wrap: break-word;
	}
}

.wrapper {
	position: relative;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.footer{
	width: 100%;
}

.content{
	width: 100%;
	flex-grow: 1;
}

.header{
	width: 100%;
}

.bg-page {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90deg, #9676F5 0%, #6864ED 100%);
}

@media screen and (max-width: 767px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		padding: 0 15px;
	}
}

@media screen and (max-width: 575px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 460px;
	}
}

