@keyframes clickEffect {
	0% {
		opacity: 0.7;
		transform: scale(0);
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}

.effect {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: rem(-100px) 0 0 rem(-100px);
	width: rem(200px);
	height: rem(200px);
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.3);
	transform: scale(0);
	pointer-events: none;
	animation: clickEffect 1.5s ease;
}

.buttonEffect {
	overflow: hidden;
	position: relative;
}

.button{
	overflow: hidden;
	position: relative;
}

.btn {
	outline: none;
	text-align: center;
	cursor: pointer;
	&:focus,
	&:hover,
	&:active {
		outline: none;
		text-decoration: none;
		box-shadow: none;
	}

	&--long {
		max-width: 344px;
		width: 100%;
	}
}

.btn-main {
	padding: rem(19px) rem(30px) rem(16px);
	min-width: rem(230px);
	background: $color-accent;
	color: $color-base;
	@include rb;
	font-size: 1em;
	@include transition(background);
	line-height: 1.15;
	border: none;
	border-radius: rem(27px);
	text-transform: uppercase;
	letter-spacing: 0.1em;

	&:hover {
		background: #f4b996;
		color: $color-base;
	}

	&:focus {
		box-shadow: none;
	}

	&:active {
		box-shadow: none;
	}

	@media screen and (max-width: 480px) {
		width: 100%;
	}
}

.btn-main-g {
	position: relative;
	z-index: 2;
	padding: rem(20px) rem(30px) rem(16px);
	min-width: rem(230px);
	background: linear-gradient(90deg, #6864ED 0%, #9676F5 100%);
	color: $color-white;
	@include rb;
	font-size: 1em;
	@include transition;
	line-height: 1.15;
	border: none;
	border-radius: rem(27px);
	text-transform: uppercase;
	letter-spacing: 0.1em;
	overflow: hidden;

	&:before {
		@include pseudo;
		top: 0;
		left: 0;
		width: 200%;
		height: 100%;
		z-index: -1;
		background: linear-gradient(90deg, #6864ED 0%, #9676F5 50%, #6864ED 100%) 0 50% no-repeat;
		@include transition(all, 0.6s);
		border-radius: rem(27px);
	}

	&:hover {
		color: $color-white;

		&:before {
			left: -100%;
		}
	}

	&:focus {
		box-shadow: none;
	}

	&:active {
		box-shadow: none;
	}

	@media screen and (max-width: 480px) {
		width: 100%;
	}
}

.form-item {
	margin-bottom: rem(26px);
	position: relative;

	@media screen and (max-width: 1280px){
		margin-bottom: rem(20px);
	}

	&--file {
		input[type=file] {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			opacity: 0;
		}

		label {
			@include rl;
			font-size: em(18px);
			margin-bottom: rem(10px);

			span {

			}
		}
	}
}

label.error {
	color: $danger-color;
	font-size: em(14px);
	opacity: 1;
	transform-origin: 0 0;
	@include transition;
	transform: scaleY(1);
	position: absolute;
	top: 100%;
	left: 0;
	@include rb;
}

.form-label {
	font-size: em(16px);
	@include rr;
	display: block;
	padding: 3px 0;
	margin: 0 0 8px;
}

.form-input {
	width: 100%;
	height: rem(54px);
	padding: rem(5px) rem(23px);
	border: 1px solid transparent;
	background: $color-white;
	color: $color-dark;
	border-radius: rem(10px);
	text-align: left;
	@include rr;
	font-size: em(18px);
	@include transition;

	@media screen and (max-width: 480px) {
		padding: rem(5px) rem(16px);
		height: rem(48px);
	}

	&:focus {
		box-shadow: 0 2px 5px 2px rgba($color-base,0.15);
	}

	&:invalid {
		//box-shadow: 0 3px 4px 0 rgba($color-main, 0.3), inset 0 3px 5px 0 rgba($danger-color, 0.8);
	}

	&.error {
		border-color: $danger-color;
	}

	&.is-valid {
		border-color: $success-color;
	}

	&.form-textarea {
		padding: rem(15px) rem(23px);
		height: auto;
		resize: none;
	}

	&.form-select {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		padding: rem(6px) rem(40px) rem(6px) rem(23px);

		@media screen and (max-width: 480px) {
			padding: rem(6px) rem(40px) rem(6px) rem(16px);
		}
	}
}

.form-button {
	&--right {
		text-align: right;
	}

	&--center {
		text-align: center;
	}
}

.checkbox-item {
	position: relative;

	label {
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0 0 0 rem(36px);
		min-height: rem(16px);
		@include rr;
		font-size: em(18px);
		line-height: 1.2;

		@media screen and (max-width: 480px) {
			padding: 0 0 0 rem(26px);
		}

		.check-text {
			display: inline-block;
			vertical-align: center;
		}

		.check-icon {
			position: absolute;
			display: block;
			left: 0;
			top: 50%;
			background: $color-white;
			width: rem(18px);
			height: rem(18px);
			margin-top: rem(-10px);
			padding: 5px;
			border-radius: 2px;

			&:before {
				@include pseudo;
				width: 10px;
				height: 10px;
				top: 50%;
				left: 50%;
				margin: -5px 0 0 -5px;
				transform: scale(0);
				transform-origin: 50% 50%;
				@include transition(transform);
				background: $color-main;
				border-radius: 2px;
			}
		}
	}

	a{
		color: $color-base;
		@include transition;

		&:hover {
			color: $color-second;
		}
	}

	label.error {
		position: absolute;
		font-size: .875em;
	}

	input[type=checkbox] {
		visibility: hidden;
		position: absolute;
	}

	input[type=checkbox] + label {
		cursor: pointer;
	}

	input[type=checkbox]:checked ~ label{
		.check-icon {
			&:after {
				transform: scale(1);
				transition: transform 0.4s cubic-bezier(.17, .67, .78, 2);
			}

			&:before {
				transform: scale(1);
				transition: transform 0.3s cubic-bezier(.17, .67, .78, 1.6);
			}
		}
	}

	&--term {
		margin-bottom: rem(5px);

		@media screen and (max-width: 575px) {
			margin-bottom: rem(20px);
		}

		label {
			padding-left: rem(26px);
			font-size: em(14px);

			.check-icon {
				top: 0;
				margin-top: -2px;
			}

			@media screen and (max-width: 1280px) {
				font-size: em(16px);
			}

			a {
				color: $color-white;
				@include transition;

				&:hover {
					color: $color-accent;
				}
			}
		}
	}
}

.select-wrap {
	position: relative;
	text-align: left;

	.selectize-control.single .selectize-input::after {
		margin-top: -1px;
	}

	.selectize-input {
		width: 100%;
		height: rem(42px);
		line-height: rem(38px);
		padding: 0 rem(40px) 0 rem(23px);
		border: 1px solid transparent;
		background: $color-white;
		color: $color-dark;
		border-radius: rem(10px);
		text-align: left;
		@include rr;
		font-size: rem(14px);
		@include transition;
		overflow: hidden;
		position: relative;
		box-shadow: none;

		&.input-active {
			box-shadow: 0 2px 5px 2px #e1cc65;
		}
	}

	.selectize-dropdown-content {
		.option {
			&.active {
				background: #e9e9e9;
			}
		}
	}
}
