.logo-wrap {
	padding-right: em(30px);

	@media screen and (max-width: 991px) {
		padding-right: em(25px);
	}

	@media screen and (max-width: 480px) {
		padding-right: em(5px);
	}

	&--footer {
		@media screen and (max-width: 767px) {
			text-align: center;
			padding-right: em(10px);
		}

		@media screen and (max-width: 480px) {
			padding-right: em(10px);
		}
	}
}

.logo {
	position: relative;
	display: inline-block;
	min-height: rem(58px);
	padding-left: rem(64px);

	@media screen and (max-width: 991px) {
		padding-left: rem(50px);
		min-height: rem(36px);
	}

	@media screen and (max-width: 480px) {
		padding-left: rem(40px);
		min-height: rem(30px);
	}

	&__img {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		max-width: 52px;

		@media screen and (max-width: 991px) {
			max-width: 40px;
		}

		@media screen and (max-width: 480px) {
			max-width: 32px;
		}
	}

	&__text {
		text-transform: uppercase;
		color: $color-white;
		font-size: rem(24px);
		line-height: 1.2;
		@include rr;
		display: block;

		@media screen and (max-width: 991px) {
			font-size: rem(18px);
		}

		@media screen and (max-width: 480px) {
			font-size: rem(15px);
		}
	}
}

.company-info {
	position: relative;
	color: rgba($color-white,0.75);
	padding: 3px 0 2px 5px;
	@include rl;

	&:before {
		@include pseudo;
		left: -15px;
		top: 0;
		width: 1px;
		height: 100%;
		background: $color-gray;
	}

	@media screen and (max-width: 767px) {
		display: none;
	}

	&--footer {
		@media screen and (max-width: 767px) {
			display: block;
			font-size: 12px;

			&:before {
				left: -5px;
			}
		}
	}
}

.center-block {
	position: relative;
	margin: 0 auto;
	max-width: rem(400px);
	width: 100%;
	background: #8D85FF;
	box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.14);
	border-radius: 10px;
	color: $color-white;

	&--form {
		max-width: rem(680px);
		padding: rem(40px);

		@media screen and (max-width: 575px) {
			padding: rem(30px) rem(20px);
		}
	}

	&__bottom {
		width: 100%;
		margin-top: auto;
		background-color: #FFF9DD;
		box-shadow: 0px 0px 44px 0px rgba(224, 176, 33, 0.43);
		border-radius: 0 0 rem(15px) rem(15px);
		padding: rem(20px) rem(34px);

		@media screen and (max-width: 768px) {
			padding: rem(20px) rem(20px);
		}
	}

	&__title {
		@include rb;
		font-size: em(25px);
		text-align: center;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		margin-bottom: em(30px,25px);

		@media screen and (max-width: 575px) {
			font-size: em(20px);
		}
	}


}

.form-login {
	width: 100%;
	margin: 0 auto;

	.form-button {
		padding: rem(10px) 0;
	}

	.form-input {
		text-align: left;
	}

	&--reg {
		.form-button {
			padding-top: rem(20px);
		}
	}
}

.form-content {
	width: 100%;
	display: flex;
	align-items: center;
	padding: rem(160px) 0 rem(60px);
	min-height: 100vh;
}

.form-bottom {
	&__item {
		@media screen and (max-width: 575px) {
			width: 100%;
			margin-bottom: 4px;

			.btn {
				width: 100%;
			}
		}
	}
}

.link {
	display: inline-block;
	color: $color-white;
	@include rl;
	font-size: em(18px);
	@include transition(color);
	position: relative;
	text-decoration: none;
	line-height: 1.2;
	padding-bottom: 2px;

	&:before {
		@include pseudo;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		border-bottom: 1px dashed $color-white;
		@include transition;
	}

	&:hover {
		color: $color-white;

		&:before {
			transform: translateY(rem(10px));
			opacity: 0;
		}
	}
}

.page-content {
	padding: rem(150px) 0 rem(50px);

	@media screen and (max-width: 767px) {
		padding: rem(120px) 0 rem(34px);
	}
}

.page-navigation {
	.breadcrumb {
		background-color: transparent;
		border-radius: 0;
		padding: 0;
		margin-bottom: rem(10px);
	}

	.breadcrumb-item {
		font-size: em(18px);
		@include rl;
		position: relative;
		padding-right: 1rem;
		padding-left: 0;

		&:before {
			@include pseudo;
			background: url(/assets/img/icons/arrow-right.svg) no-repeat 50% 50%;
			width: 14px;
			height: 6px;
			top: 50%;
			right: 0;
			margin-top: -3px;
		}

		&:last-child {
			&:before {
				display: none;
			}
		}

		a {
			color: $color-white;
			@include transition;

			&:hover {
				color: $color-base;
			}
		}

		&.active {
			color: $color-white;
		}
	}
}

.page-title {
	font-size: em(25px);
	text-transform: uppercase;
	margin-bottom: rem(10px);
	@include rb;
	color: $color-white;
}

.section-descr {
	font-size: em(18px);
	color: $color-white;
}

.page-sidebar {
	border-radius: 10px;
	background-color: $color-second;
	box-shadow: 0px 0px 16px 0px rgba(224, 176, 33, 0.09);
	margin-bottom: rem(26px);
	padding: 20px;

	&--cabinet {
		background-color: $color-second;
		overflow: hidden;
		padding: 0;

		.setting-link {
			font-size: em(18px);
		}
	}

	.setting-list__item {
		margin-bottom: 0;
		padding: 16px 30px;

		.setting-link {
			padding: 0;
		}

		&.active {
			background: $color-white;

			.setting-link {

				&:hover {
					color: $color-base;

					.svg-icon {
						fill: $color-base;
					}
				}
			}
		}
	}
}

.content-page-top {
	padding-bottom: 1.25rem;
}

.top-line {
	background: $color-second;
	padding: em(20px) em(34px) em(16px);

	@media screen and (max-width: 575px) {
		padding: em(18px) rem(20px);
	}

	@media screen and (max-width: 480px) {
		padding: em(15px) rem(20px) rem(5px);
	}

	&__col {
		@media screen and (max-width: 480px) {
			width: 100%;
			text-align: center;
			padding-bottom: rem(5px);
		}
	}

}

.bottom-line {
	background: #43484f;
	padding: em(32px) em(34px) em(30px);
	color: $color-white;

	@media screen and (max-width: 480px) {
		padding: em(32px) rem(20px);
	}
}

.page-block {
	background: #D6D3FB;
	box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.14);
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 30px;

	&__title {
		font-size: em(18px);
		text-transform: uppercase;
		@include rb;
	}
}

.number-order {
	font-size: em(18px);
	text-transform: uppercase;
	@include rb;
}

.block-form {
	padding: em(32px) em(34px) em(16px);

	@media screen and (max-width: 575px) {
		padding: em(32px) rem(20px) em(16px);
	}

	.cart-list__item{
		border-bottom: 1px solid rgba(67, 72, 78, 0.15);
		padding: 0 0 em(16px);
		margin-bottom: em(16px);

		&:last-child {
			border-bottom: none;
		}

		&:nth-child(2n) {
			background: transparent;
		}
	}
}

.avatar-box {
	margin: 0 auto 20px;
	max-width: 144px;
	width: 100%;

	&__input {
		position: relative;
		width: 144px;
		height: 144px;
		margin: 0 auto rem(10px);
		border-radius: 50%;
		overflow: hidden;

		input {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0;
			outline: none;
			cursor: pointer;
			display: block;
			width: 100%;
			height: 100%;
			border: none;
		}
	}

	&__img {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			object-fit: cover;
		}
	}

	&__btn {
		text-align: center;
	}
}

.reset-img-preview {
	display: none;
}

.btn-edit {
	background: transparent;
	border: none;
	padding: 0;
	position: relative;
	@include rl;
	font-size: em(14px);
	color: $color-base;
	@include transition(color);
	line-height: 1.3;

	&:before {
		@include pseudo;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		border-bottom: 1px dashed $color-base;
		@include transition(border-color);
	}

	&:hover {
		color: $color-yellow-second;

		&:before {
			border-color: $color-yellow-second;
		}
	}
}

.result-block {
	@media screen and (max-width: 767px) {
		margin-bottom: rem(10px);
	}

	&__title {
		font-size: em(18px);
	}

	&__value {
		font-size: em(24px);
	}
}

.cart-list {
	&__item {
		padding: em(20px) em(34px);
		display: block;
		color: $color-base;

		@media screen and (max-width: 575px) {
			padding: em(16px) rem(20px);
		}

		&:nth-child(2n) {
			background: $color-white;
		}

		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
		}
	}
}

a.cart-list__item {
	@include transition;

	&:hover {
		color: $color-white;
		background: rgba($color-base,0.3);
	}
}

.cart-order-number {
	font-size: em(18px);
}

.cart-oder-descr {
	font-size: em(14px);
	color: rgba($color-base, 0.4);
	@include text-overflow;
}

.cart-price {
	font-size: em(18px);
	@include break;

	&--right {
		text-align: right;

		@media screen and (max-width: 767px) {
			text-align: left;
			padding: rem(10px) 0 0;
		}
	}
}

.cart-unit {
	.cart-price {

		&--right {
			@media screen and (max-width: 575px) {
				text-align: center;
			}
		}
	}
}

.btn-delete {
	position: relative;
	background: transparent;
	border: 1px solid #75736a;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	@include transition;

	.svg-icon {
		width: 10px;
		height: 10px;
		fill: #75736a;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -5px 0 0 -5px;
		@include transition(fill);
	}

	&:hover {
		border-color: $color-accent;
		background: $color-accent;

		.svg-icon {
			fill: #75736a;
		}
	}
}

.widget {
	padding-bottom: rem(16px);
	margin-bottom: rem(16px);
	border-bottom: 1px solid rgba(#1f2428, 0.1);

	&__title {
		font-size: em(18px);
		margin-bottom: rem(7px);
	}

	&:last-of-type {
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: none;
	}
}

.check-list {
	padding: 0 0 rem(7px);
	width: 100%;

	&__item {
		padding: rem(8px) 0;
	}
}

.extra-controls {
	padding: rem(10px) 0 rem(10px);

	.form-input {
		text-align: center;
		padding: .6rem 0.42rem 0.3rem;
		height: rem(48px);
	}
}

.filter-range {
	.irs--round {
		height: 30px;
		margin-bottom: 16px;
	}

	.irs--round .irs-handle {
		top: 22px;
		width: 14px;
		height: 14px;
		border: 4px solid $color-main;
		background-color: white;
		border-radius: 50%;
		box-shadow: none;
	}

	.irs--round .irs-bar {
		top: 28px;
		height: 2px;
		background-color: $color-main;
	}

	.irs--round .irs-line {
		top: 28px;
		height: 2px;
		background-color: $color-white;
		border-radius: 0;
	}
}

.product-list {
	&__item {
		padding-bottom: 20px;

		@media screen and (max-width: 767px) {
			width: 50%;
		}

		@media screen and (max-width: 575px) {
			width: 100%;
		}
	}
}

.product-card {
	padding: 0;
	background: $color-white;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
	@include transition(box-shadow);

	&:hover {
		box-shadow: 0 10px 10px rgba($color-base,0.25);
	}

	&__title {
		font-size: em(18px);
		text-transform: uppercase;
		@include rb;
		@include text-overflow;
		padding-bottom: rem(15px);

		a{
			color: $color-base;
			@include transition(color);

			&:hover {
				color: $color-main;
			}
		}
	}

	&__image {
		width: 100%;
		position: relative;

		.btn-like {
			position: absolute;
			top: 8px;
			right: 15px;
			z-index: 2;
		}

		img {
			width: 100%;
			max-height: rem(180px);
			object-fit: cover;
			display: block;
		}

		a {
			display: block;
			position: relative;

			&:hover {
				&:before {
					opacity: 1;
				}
			}

			&:before {
				@include pseudo;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($color-main,0.4);
				pointer-events: none;
				@include transition(opacity, 0.6s);
				opacity: 0;
			}

		}

		&--full {
			img{
				max-height: 100%;
			}
		}
	}

	&__middle {
		width: 100%;
		padding: rem(42px) rem(20px) 0;
	}

	&__bottom {
		width: 100%;
		margin-top: auto;
		padding: 0 rem(20px) rem(20px);
	}

	&__play {
		position: absolute;
		left: 20px;
		bottom: -27px;
	}

	&--single {
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
		max-width: 448px;
		height: auto;
		margin-bottom: 16px;

		.product-card {
			&__middle {
				padding-top: rem(28px);
			}

			&__bottom {
				padding-bottom: rem(30px);
			}
		}
	}
}

.single-player {
	margin-bottom: rem(27px);
}

.button-order-line {
	position: relative;
	padding-right: 70px;

	.btn-like {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
	}

	.btn-main-g {
		min-width: 100px;
	}
}

.separate-line {
	width: 100%;
	height: 1px;
	background: rgba(167, 164, 182, 0.6);

	&--white {
		background: rgba($color-white, 0.6);
	}
}

.cart-text {
	font-size: em(18px);
	padding: 6px 0;
	line-height: 1.3;
}

.card-descr {
	padding-top: rem(16px);
	&__item {
		position: relative;
		padding-left: 25px;
		min-height: 17px;
		font-size: em(18px);
		color: #696775;
		.svg-icon {
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -10px;
			width: 17px;
			height: 17px;
			fill: $color-main;
			display: block;
		}
	}
}

.play-btn {
	position: relative;
	display: block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: $gradient-main;
	border: none;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.17);
	@include transition;
	transform-origin: 50% 50%;

	&:hover {
		transform: scale(0.9);
	}

	.svg-icon {
		position: absolute;
		top: 17px;
		left: 18px;
		display: block;
		width: 23px;
		height: 23px;
		fill: $color-white;
	}

	.pause-icon {
		opacity: 0;
		visibility: hidden;

		.svg-icon {
			top: 18px;
			left: 18px;
			width: 20px;
			height: 20px;
		}
	}

	&.pause {
		.svg-icon.icon-play {
			opacity: 0;
			visibility: hidden;
		}

		.pause-icon {
			opacity: 1;
			visibility: visible;
		}
	}
}

.btn-nav {
	.svg-icon {
		fill: $color-white;
		width: 13px;
		height: 13px;
		display: block;
	}
}

.btn-like {
	border: none;
	width: 36px;
	height: 36px;
	padding: 0;
	@include transition(transform);
	transform-origin: 50% 50%;
	text-align: center;

	.svg-icon {
		display: block;
		width: 36px;
		height: 36px;
		fill: $color-white;
		@include transition;
		pointer-events: none;
		margin: auto;
	}

	&:hover {
		.svg-icon {
			fill: $color-main;
		}
	}

	&:active {
		transform: scale(0.85);
	}

	&.active {

		.svg-icon {
			fill: $color-main;
		}
	}

	&--around {
		width: 56px;
		height: 56px;
		border-radius: 50%;
		background: $color-gray;
	}
}

.btn-cart {
	width: 42px;
	height: 42px;
	background: $color-main;
	border-radius: 50%;
	padding: 13px 11px 11px;
	border: none;
	@include transition;
	transform-origin: 50% 50%;

	&:hover {
		transform: scale(0.9);
	}

	.svg-icon {
		display: block;
		fill: $color-white;
		width: 20px;
		height: 20px;
		pointer-events: none;
	}
}

.modal-block {
	display: none;
	box-shadow: none;
	transform: scale(1.2);
	transition: all .4s ease-in-out;
	padding: 0;
	max-width: 540px;
	width: 100%;
	background-color: #ffe677;
	border-radius: 15px;
	box-shadow: 0px 0px 44px 0px rgba(67, 72, 79, 0.43);

	.fancybox-button {
		display: none;
	}
}

.fancybox-active {
	height: 100%;
}

.fancybox-slide--current .modal-block {
	transform: scale(1);
	opacity: 1;
}

.modal-content {
	position: relative;
	width: 100%;
	padding: 40px 80px 30px;
	text-align: center;
	background-color: transparent;
	overflow: hidden;

	&__title {
		margin-bottom: 14px;
		@include rb;
		font-size: em(25px);
		line-height: 1;
		text-transform: uppercase;
	}

	&__descr {
		@include rl;
		font-size: em(18px);
		margin-bottom: rem(24px);
	}
}

.btn-close {
	display: block;
	position: absolute;
	top: 12px;
	right: 12px;
	width: 26px;
	height: 26px;
	padding: 5px;
	background: transparent;
	z-index: 10;

	.svg-icon {
		fill: $color-base;
		width: 16px;
		height: 16px;
		display: block;
	}
}

.form-upload {
	.form-item {
		margin-bottom: 10px;
	}

	.form-button {
		padding: rem(25px) 0 0;
	}
}

.player-block {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #43484f;
	color: $color-white;
	z-index: 90;
	min-width: 320px;
	@include transition;
	visibility: hidden;
	transform: translateY(101%);

	&.open {
		visibility: visible;
		transform: translateY(0);
	}

	.btn-close {
		.svg-icon {
			fill: $color-white;
		}

		@media screen and (max-width: 480px) {
			top: 6px;
			right: 10px;
		}
	}

	@media screen and (max-width: 480px) {
		padding-top: 20px;
	}
}

.player {
	&__col {
		position: relative;
		padding-top: rem(27px);
		padding-bottom: rem(27px);

		@media screen and (max-width: 991px) {
			padding-top: rem(10px);
			padding-bottom: rem(10px);
		}

		&:before {
			@include pseudo;
			right: 0;
			top: 0;
			width: 1px;
			height: 100%;
			background: rgba($color-white, 0.18);

			@media screen and (max-width: 991px) {
				display: none;
			}
		}

		&:last-child {
			&:before {
				display: none;
			}

			@media screen and (max-width: 575px) {
				display: none;
			}
		}
	}

	&__avatar {
		position: relative;
		min-width: 97px;
		height: 65px;

		@media screen and (max-width: 575px) {
			min-width: 55px;
			width: 55px;
			height: 55px;
			margin: 5px auto 4px;
		}

		@media screen and (max-width: 480px) {
			display: none;
		}

		img {
			border-radius: 50%;
			width: 65px;
			height: 65px;
			object-fit: cover;

			@media screen and (max-width: 575px) {
				width: 55px;
				height: 55px;
			}
		}
	}

	&__container {
		display: flex;
		align-items: center;
		padding: 6px 15px 0;

		@media screen and (max-width: 991px) {
			padding: 0;
		}

		@media screen and (max-width: 375px) {
			flex-wrap: wrap;
		}
	}

	&__title {
		font-size: em(18px);
		@include text-overflow;
	}

	&__author {
		font-size: em(14px);
		color: rgba($color-white, 0.4);
		@include text-overflow;
	}

	&__unit {
		position: relative;
		display: flex;
		align-items: center;

		@media screen and (max-width: 575px) {
			text-align: center;
			display: block;
		}
	}

	&__descr {
		width: calc(100% - 97px);

		@media screen and (max-width: 575px) {
			width: 100%;
		}
	}

	&__btns {
		padding: rem(6px) 0 0 rem(14px);

		@media screen and (max-width: 1199px) {
			padding: rem(6px) 0 0 0;
		}

		@media screen and (max-width: 991px) {
			text-align: center;
			padding: 0;
		}

		@media screen and (max-width: 575px) {
			display: none;
		}

		.btn {
			margin: 4px;

			@media screen and (max-width: 575px) {
				margin: 2px 4px;
			}
		}

		//.btn-like {
		//	border-color: rgba($color-white, .53);
		//
		//	.svg-icon {
		//		fill: rgba($color-white, .53);
		//	}
		//
		//	&:hover {
		//		background: $color-yellow-second;
		//		border-color: $color-yellow-second;
		//
		//		.svg-icon {
		//			fill: $color-white;
		//		}
		//	}
		//
		//	&.active {
		//		background: $color-yellow-second;
		//		border-color: $color-yellow-second;
		//
		//		.svg-icon {
		//			fill: $color-white;
		//		}
		//	}
		//}
	}
}

.player-navigation {
	min-width: 140px;

	@media screen and (max-width: 375px) {
		width: 100%;
	}

	&__buttons {
		display: flex;
		align-items: center;

		@media screen and (max-width: 375px) {
			justify-content: center;
		}
	}
}

.player-body {
	width: calc(100% - 140px);

	@media screen and (max-width: 375px) {
		width: 100%;
	}

	.plyr--audio .plyr__controls {
		background: transparent;
	}

	.plyr--full-ui input[type="range"] {
		color: $color-main;
		color: var(--plyr-range-fill-background, var(--plyr-color-main, var(--plyr-color-main, $color-main)));
	}
}

.page-filter-list {
	padding-top: 0;

	&__item {
		padding-top: rem(3px);
		padding-bottom: rem(3px);

		@media screen and (max-width: 767px) {
			width: auto;
		}

		@media screen and (max-width: 575px) {
			width: 100%;
		}

		&.active {
			.filter-btn {
				background: $color-white;
				color: $color-base;
			}
		}
	}
}

.filter-btn {
	padding: rem(11px) rem(44px) rem(10px);
	background: $color-second;
	min-width: 185px;
	color: $color-white;
	@include rr;
	font-size: em(18px);
	@include transition;
	line-height: 1.15;
	border: none;
	border-radius: rem(21px);

	&:hover {
		background: $color-white;
		color: $color-base;
	}

	&:focus {
		box-shadow: none;
	}

	&:active {
		box-shadow: none;
	}

	@media screen and (max-width: 991px) {
		width: 100%;
	}

	@media screen and (max-width: 767px) {
		min-width: 140px;
	}

	@media screen and (max-width: 480px) {
		width: 100%;
	}
}

.section-article {
	color: $color-white;

	h3 {
		@include rb;
		font-size: em(20px);
		padding: rem(5px) 0 rem(10px);
	}

	p {
		margin-bottom: em(16px, 18px);
		line-height: 1.56;
		font-size: em(18px);
		@include rl;
	}

	ol {
		list-style-type: decimal;
	}

	ol, ul {
		margin-left: em(30px);

		li {
			margin-bottom: em(16px, 18px);
			line-height: 1.56;
			font-size: em(18px);
			@include rl;
		}
	}

	a {
		color: $color-accent;
	}

}

.pagination-nav {
	padding: 20px 0 30px;

	.pagination {
		justify-content: flex-end;
		flex-wrap: wrap;
		margin: 0 -6px;

		@media screen and (max-width: 991px) {
			justify-content: center;
		}
	}

	.page-item {
		padding: 6px;

		&:first-child, &:last-child {
			.page-link {
				border-radius: 11px;

				@media screen and (max-width: 480px) {
					border-radius: 8px;
				}
			}
		}

		&.active {
			.page-link {
				background: $color-white;
				color: $color-base;
			}
		}
	}

	.page-link {
		min-width: 48px;
		height: 48px;
		border-radius: 11px;
		padding: 0 6px;
		background: $color-second;
		color: $color-base;
		font-size: em(18px);
		line-height: 52px;
		text-align: center;
		box-shadow: none;
		border: none;

		@media screen and (max-width: 480px) {
			min-width: 40px;
			height: 40px;
			line-height: 42px;
			border-radius: 8px;
		}
	}

	a.page-link {
		@include transition;

		&:hover {
			background: $color-white;
			color: $color-base;
		}
	}

	span.page-link {
		color: $color-white;
		background: transparent;
	}
}

.faq-block {
	padding-bottom: rem(30px);
}

.faq-list {
	padding-bottom: rem(30px);
	&__item {
		margin-bottom: rem(12px);
	}
}

.faq-card {
	border-radius: 10px;
	background: #E6E4FF;

	&__title {
		background: $color-second;
		padding: rem(16px) rem(30px);
		@include rb;
		font-size: em(18px);
		line-height: 1.4;
		border-radius: 10px 10px 0px 0px;

		@media screen and (max-width: 575px) {
			padding: rem(12px) rem(16px);
			font-size: em(16px);
		}
	}

	&__text {
		padding: rem(16px) rem(30px);
		font-size: em(18px);
		line-height: 1.7;

		@media screen and (max-width: 575px) {
			padding: rem(12px) rem(16px);
			font-size: em(16px);
		}
	}
}

.section-button {
	padding: rem(20px) 0;

	&--center {
		text-align: center;
	}
}

.annotation-block {
	background: #8D85FF;
	box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.14);
	border-radius: 10px;
	color: $color-white;

	&__top {
		padding: rem(28px) rem(42px);
		@media screen and (max-width: 575px) {
			padding: rem(18px) rem(20px);
		}
	}

	&__middle {
		padding: rem(28px) rem(42px);
		background: rgba(116, 105, 240, 0.5);
		@media screen and (max-width: 575px) {
			padding: rem(18px) rem(20px);
		}
	}

	&__bottom {
		padding: rem(28px) rem(42px);
		@media screen and (max-width: 575px) {
			padding: rem(18px) rem(20px);
		}
	}

	&__title {
		@include rb;
		text-transform: uppercase;
		font-size: em(25px);
	}

	.form-button {
		padding-top: em(30px);
	}
}

.form-registration {
	.form-label {
		color: $color-white;
	}

	.form-block {
		padding-bottom: rem(30px);
	}

	.checkbox-item {
		label {
			color: $color-white;
		}
	}
}

.button-filter {
	padding: rem(20px) 0 0;
	.btn {
		width: 100%;
	}
}

.checked-list {
	&__item {
		position: relative;
		padding-left: em(36px,18px);
		font-size: em(18px);
		color: $color-white;
		opacity: 0.5;
		margin-bottom: em(20px,18px);
		@include transition(opacity);

		&:last-child {
			margin-bottom: 0;
		}

		&.is-valid {
			opacity: 1;

			.icon-check {
				transform: scale(1);
				opacity: 1;
				transition: transform 0.3s cubic-bezier(.17, .67, .78, 1.6);
			}
		}

		.icon-check {
			display: block;
			position: absolute;
			left: 0;
			top: em(3px,18px);
			border-radius: 50%;
			width: rem(17px);
			height: rem(17px);
			background: $color-white;
			@include transition;
			transform-origin: 50% 50%;
			transform: scale(0);
			opacity: 0;

			.svg-icon {
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -6px 0 0 -6px;
				display: block;
				width: 12px;
				height: 12px;
				fill: $color-main;
			}
		}
	}
}

.support-block {
	&__item {
		margin-bottom: 20px;
	}
}

.support-card {
	&__title {
		font-size: em(18px);
		color: $color-white;
		margin-bottom: em(10px,18px);
	}

	&__list {

		li {
			margin-bottom: rem(7px);
		}

		a {
			position: relative;
			padding-left: 25px;
			min-height: 16px;
			color: $color-white;
			font-size: em(18px);
			letter-spacing: 0.02em;
			line-height: 1.5;
			@include transition(color);

			&:hover {
				color: $color-accent;

				.svg-icon {
					fill: $color-accent;
				}
			}

			.svg-icon {
				position: absolute;
				left: 0;
				top: 50%;
				width: 16px;
				height: 18px;
				margin-top: -10px;
				fill: $color-white;
				display: block;
				@include transition(fill);
			}
		}
	}
}

.social-buttons {
	margin: 0 -5px;
	padding: rem(20px) 0 rem(40px);

	li {
		display: inline-block;
		vertical-align: middle;
		padding: 4px;
	}

	a {
		position: relative;
		border-radius: 50%;
		width: 41px;
		height: 41px;
		background: $color-white;
		display: block;
		@include transition;
		z-index: 2;

		&:before {
			@include pseudo;
			top: 0;
			left: 0;
			border-radius: 50%;
			width: 100%;
			height: 100%;
			background: $gradient-main;
			opacity: 0;
			z-index: -1;
			@include transition(opacity);
		}

		&:hover {
			background: $color-main;
			box-shadow: 0 2px 10px rgba($color-base,0.25);

			&:before {
				opacity: 1;
			}

			.svg-icon {
				fill: $color-white;
			}
		}
	}

	.svg-icon {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -8px 0 0 -8px;
		fill: #8E73F4;
		width: 16px;
		height: 16px;
		@include transition(fill);

		&.icon-vk {
			width: 20px;
			height: 20px;
			margin: -10px 0 0 -10px;
		}
	}
}

.form-user {
	.form-button {
		padding-top: rem(16px);
		margin-bottom: 1.625rem;
	}
}

.form-contact-block {
	padding: rem(52px) 0;
}

.form-contact {
	padding: rem(10px) 0;
	.form-textarea {
		min-height: rem(134px);
	}

	.form-button {
		padding-top: rem(16px);
	}
}

.block-descr {
	.card-descr {

		&__item {
			color: $color-white;
			margin-bottom: rem(20px);

			.svg-icon {
				fill: $color-white;
				top: 3px;
				margin: 0;

				&.icon-label {
					top: 9px;
				}
			}

			b {
				@include rb;
				font-weight: normal;

				&.price {
					font-size: em(24px,18px);
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

	}
}

.form-order {
	color: $color-white;

	.form-textarea {
		min-height: rem(135px);
	}

	.form-block {
		padding-top: rem(15px);
	}
}

.checkbox-group {
	padding-top: 4px;
	&__item {
		margin-bottom: rem(18px);
	}
}

.result-order {
	display: flex;
	align-items: center;
	&__text {
		line-height: 1.6;
		font-size: em(18px);
		width: calc(100% - 114px);
		padding-left: rem(32px);
	}

	&__avatar {
		min-width: 114px;
		padding: rem(10px) 0;

		img {
			display: block;
			border-radius: 50%;
			max-width: 100%;
			height: auto;
		}
	}
}

.product-content {
	margin-bottom: rem(65px);
}

.text-block {
	background: $color-white;
	border-radius: rem(10px);
	margin-bottom: rem(20px);
	padding: em(27px,18px) em(34px,18px);

	&__title {
		font-size: em(18px);
		letter-spacing: 0.02em;
		text-transform: uppercase;
		margin-bottom: rem(6px);
		line-height: 1.5;
		@include rb;
	}

	&__text {
		font-size: em(18px);
		line-height: 1.5;
	}
}

.description-block {
	background: #8D85FF;
	box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.14);
	border-radius: 10px;
	color: $color-white;

	&__title {
		text-transform: uppercase;
		@include rb;
		font-size: em(18px);
		padding: em(27px,18px) em(34px,18px);
	}
}

.description-list {
	&__item {
		padding: em(13px,18px) em(34px,18px);
		font-size: em(18px);
		background: rgba(116, 105, 240, 0.5);

		&:nth-child(2n) {
			background-color: transparent;
		}
	}
}

.single-player {
	display: flex;
	align-items: center;

	&__nav {
		min-width: 63px;
	}

	.player-body {
		padding-left: 0;
		width: calc(100% - 63px);
		max-width: 280px;

		&__title {
			padding-top: 6px;
			padding-left: 10px;
			padding-right: 10px;
			margin-bottom: -14px;
			font-size: em(18px);
			white-space: nowrap;
			position: relative;
			overflow: hidden;

			&:before {
				@include pseudo;
				top: 0;
				right: 0;
				width: 50px;
				height: 100%;
				background: linear-gradient(90deg, transparent 0%, $color-white 80%);
				pointer-events: none;
			}
		}
	}
}
