// bootstrap 4
$grid-breakpoints: (
				xs: 0,
				sm: 768px,
				md: 992px,
				lg: 1200px,
				xl: 1400px
) !default;


$container-max-widths: (
				sm: 740px,
				md: 960px,
				lg: 1170px,
				xl: 1400px
) !default;

$grid-gutter-width: 20px !default;

// Font
$mainFont                : "Circe-Regular", Helvetica, Arial, sans-serif;

// Size
$browser-context         : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$width-xl                : 1200px;
$width-lg                : 991px;
$width-md                : 767px;
$width-sm                : 576px;
$width-xs                : 479px;

$container-xl            : 1170px;
$container-lg            : 960px;
$container-md            : 720px;
$container-sm            : 540px;
$container-xs            : 100%;

// Main color
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

$color-main             : #6864ED;
$color-second           : #CFC5FA;
$color-accent           : #FFC39E;
$color-black            : #000000;
$color-white            : #ffffff;
$color-base             : #43484E;
$color-dark             : #42424D;
$color-pink             : #ff3e7e;
$color-yellow           : #fff600;
$color-yellow-second    : #ffc929;
$color-green            : #74bf40;
$color-lilac            : #b90ccc;
$color-red              : #fa522c;
$color-gray             : #D0D1D3;
$color-disable          : #2C2F34;

$gradient-main          : linear-gradient(180deg, #6864ED 0%, #9676F5 100%);
