// footer style
.footer-main {
	background: $color-dark;
	padding: rem(53px) 0 rem(40px);
}

.footer-menu {
	ul {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 -6px rem(10px);

		@media screen and (max-width: 1199px) {
			justify-content: space-between;
			margin-bottom: 0;
		}

		@media screen and (max-width: 767px) {
			justify-content: center;
			margin-bottom: 0;
		}
	}

	li {
		padding: 1px 6px;
		margin-left: 30px;
		padding-left: 36px;
		position: relative;
		margin-bottom: 10px;
		text-align: center;

		&:first-child {
			padding-left: 6px;
			margin-left: 0;
			&:before {
				display: none;
			}
		}

		&:before {
			@include pseudo;
			left: 0;
			top: 0;
			width: 1px;
			height: 100%;
			background: #D0D1D3;
			opacity: 0.32;
		}

		@media screen and (max-width: 1409px) {
			margin-left: 10px;
			padding-left: 16px;
		}

		@media screen and (max-width: 1199px) {
			margin: 0 0 0 0;
			padding: 2px 6px;

			&:before {
				display: none;
			}
		}
	}

	a {
		text-transform: uppercase;
		color: $color-white;
		@include rl;
		font-size: em(14px);
		@include transition(color);

		&:hover {
			color: $color-main;
		}
	}
}

.footer-top {
	padding-bottom: 16px;

	@media screen and (max-width: 1199px) {
		margin-bottom: 2px;
	}
}

.footer-bottom {
	border-top: 1px solid rgba(208, 209, 211, 0.33);
	padding-top: 26px;
}

.copyright {
	@include rel;
	color: rgba($color-white,0.75);

	@media screen and (max-width: 767px) {
		text-align: center;
	}

	a {
		display: inline-block;
		color: rgba($color-white,0.75);
		@include transition(color);

		&:hover {
			color: $color-main;
		}
	}
}
